<!DOCTYPE html>
<html
  lang="en"
  xmlns:v-on="http://www.w3.org/1999/xhtml"
  xmlns:v-bind="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>Websocket Chat</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <div class="row">
        <div class="col-md-12">
          <h3>채팅방 리스트</h3>
        </div>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text">방제목</label>
        </div>
        <input
          type="text"
          class="form-control"
          v-model="room_name"
          v-on:keyup.enter="createRoom"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="createRoom">
            채팅방 개설
          </button>
        </div>
      </div>
      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action"
          v-for="item in chatrooms"
          v-bind:key="item.dmRoomId"
          v-on:click="enterRoom(item)"
        >
          {{ item.dmRoomId }} - {{ item.sender }} - {{item.receiver}} - {{item}}
        </li>
      </ul>
    </div>
    <!-- JavaScript -->
    <script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
      var sock = new SockJS("/ws/dm");
      var ws = Stomp.over(sock);
      var reconnect = 0;
      connect();
      var vm = new Vue({
        el: "#app",
        data: {
          room_name: "",
          chatrooms: [],
          login:"",
        },
        created() {

          this.login = prompt("대화명을 입력해 주세요.");
          this.findAllRoom();
        },
        methods: {
          findAllRoom: function () {
            axios.get("/chat/rooms", {params:{sender:this.login}}).then((response) => {
              this.chatrooms = response.data;
            });
          },
          createRoom: function () {
            if ("" === this.room_name) {
              alert("방 제목을 입력해 주십시요.");
              return;
            } else {
              var params = new URLSearchParams();
              params.append("name", this.room_name);
              axios
                .post("/chat/room", params)
                .then((response) => {
                  alert(response.data.roomName + "방 개설에 성공하였습니다.");
                  this.room_name = "";
                  this.findAllRoom();
                })
                .catch((response) => {
                  alert("채팅방 개설에 실패하였습니다.");
                });
            }
          },
          enterRoom: function (dmDto) {
            var sender = dmDto.sender;
            var receiver = dmDto.receiver;
            if (sender !== "" && receiver != "") {
              localStorage.setItem("wschat.sender", sender);
              localStorage.setItem("wschat.receiver", receiver);
              localStorage.setItem("wschat.roomId", dmDto.dmRoomId);
              location.href = "/chat/room/enter/" + dmDto.dmRoomId;
            }
          },
        },
      });
      function connect() {
        // pub/sub event
        ws.connect(
                {},
                function (frame) {
                  ws.subscribe(
                          "/sub/dm/" + vm.$data.login,
                          function (message) {
                            var recv = JSON.parse(message.body);
                            vm.recvMessage(recv);
                          }
                  );
                  // ws.send(
                  //         "/app/chat/message",
                  //         {},
                  //         JSON.stringify({
                  //           type: "ENTER",
                  //           roomId: vm.$data.roomId,
                  //           sender: vm.$data.sender,
                  //           receiver: vm.$data.receiver,
                  //         })
                  // );
                },
                function (error) {
                  if (reconnect++ <= 5) {
                    setTimeout(function () {
                      console.log("connection reconnect");
                      sock = new SockJS("/ws/dm");
                      ws = Stomp.over(sock);
                      connect();
                    }, 10 * 1000);
                  }
                }
        );
      }
    </script>
  </body>
</html>
