spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 56c0f5e4d99369329933025478a849ca
            client-secret: V1N3I3327LJkMt5XNOfB6YQ5p8qcTw4u
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: account_email
            client-name: Kakao
        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id